
		html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,
		strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,
		figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video {
			border: 0;
			font: inherit;
			font-size: 100%;
			margin: 0;
			padding: 0;
			vertical-align: baseline;
		}
		article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
			display: block;
		}
		.nav-link {
			text-decoration: none !important; 
			color: #0F4C81 !important;  
			margin-right: 4px; 
			margin-left: 4px;
		}
		html,
		body {
			background: #181818;
			font-family: 'Lato', helvetica, arial, sans-serif;
			font-size: 13px;
			color: #222;
		}
		ul.stack li {
			display: inline;
		}
		ul.nav {
			text-align: center;
			margin-top: -12px;
			margin-bottom: -12px;
		}
		ul.nav li {
			font-size: 1.3em;
			font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
			font-style: italic;
			color: #0F4C81;
			display: inline;
		}
		.stack-type {
			color: #444;
			font-size: 1.1em;
			font-weight: 600;
			margin-right: 6px;
		}
		.clear {
			clear: both;
		}
		hr {
			height: 1px;
			color: #dedede;
			background-color: #dedede;
			border: #dedede;
		}
		p {
			line-height: 1.7em;
			margin-bottom: 5px;
			color: #444;
		}
		#cv {
			width: 90%;
			max-width: 800px;
			background: white;
			margin: 30px auto;
		}
		.mainDetails {
			padding: 25px 35px;
			border-bottom: 2px solid #0F4C81;
			background: white;
		}
		.footerDetails {
			padding: 25px 35px;
			border-top: 2px solid #0F4C81;
			background: white;
		}
		#name h1 {
			font-size: 2.5em;
			font-style: italic;
			font-weight: 700;
			font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
		}
		#name h3 {
			font-size: 1.4em;
			margin-left: 2px;
			font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
		}
		#mainArea {
			padding: 0 40px;
		}
		#headshot {
			width: 12.5%;
			float: left;
			margin-right: 30px;
		}
		#headshot img {
			width: 90px;
			height: 90px;
			object-fit: cover;
			-webkit-border-radius: 50px;
			border-radius: 50px;
		}
		#name {
			float: left;
		}
		#contactDetails {
			font-size: 0.9em;
			float: right;
			text-transform: lowercase;
		}
		#contactDetails ul {
			list-style-type: none;
			margin-top: 2px;
		}
		#contactDetails ul li {
			margin-bottom: 3px;
			color: #444;
		}
		#contactDetails ul li a,
		a[href^=tel] {
			color: #444;
			text-decoration: none;
			-webkit-transition: all .3s ease-in;
			-moz-transition: all .3s ease-in;
			-o-transition: all .3s ease-in;
			-ms-transition: all .3s ease-in;
			transition: all .3s ease-in;
		}
		#contactDetails ul li a:hover {
			color: #0F4C81;
		}
		section {
			border-top: 1px solid #dedede;
			padding: 20px 0 0;
		}
		strong {
			font-weight: 700;
		}
		section:first-child {
			border-top: 0;
		}
		section:last-child {
			padding: 20px 0 10px;
		}
		.sectionTitle {
			float: left;
			width: 20%;
			font-size: 1.2em;
		}
		.sectionContent {
			float: right;
			width: 77.5%;
		}
		.sectionTitle h1 {
			font-size: 1.5em;
			font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
			font-style: italic;
			color: #0F4C81;
		}
		.sectionContent h2 {
			font-size: 1.8em;
			font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
			margin-bottom: -2px;
		}
		.sectionContent h3 {
			font-size: 1.6em;
			font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
			margin-bottom: -2px;
		}
		.sectionContent h4 {
			font-size: 1.3em;
			font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
			margin-bottom: -2px;
		}
		.subDetails {
			font-style: italic;
			margin-top: 6px;
			margin-bottom: 3px;
		}
		.keySkills {
			line-height: 1.7em;
			list-style-type: none;
			-moz-column-count: 2;
			-webkit-column-count: 2;
			column-count: 2;
			margin-bottom: 20px;
			color: #444;
		}
		.keySkill {
			width: 250px;
		}
		.keySkills ul li {
			margin-bottom: 3px;
		}
		@media all and (min-width: 602px) and (max-width: 800px) {
			#headshot {
				display: none;
			}
			.keySkills {
				-moz-column-count: 2;
				-webkit-column-count: 2;
				column-count: 2;
			}
		}
		@media all and (max-width: 601px) {
			#cv {
				width: 95%;
				margin: 10px auto;
				min-width: 280px;
			}
			#headshot {
				display: none;
			}
			#name,
			#contactDetails {
				float: none;
				width: 100%;
				text-align: center;
			}
			.sectionTitle,
			.sectionContent {
				float: none;
				width: 100%;
			}
			.sectionTitle {
				margin-left: -2px;
			}
			.keySkills {
				-moz-column-count: 2;
				-webkit-column-count: 2;
				column-count: 2;
			}
		}
		@media all and (max-width: 480px) {
			.mainDetails {
				padding: 15px 15px;
			}
			section {
				padding: 15px 0 0;
			}
			#mainArea {
				padding: 0 25px;
			}
			.keySkills {
				-moz-column-count: 1;
				-webkit-column-count: 1;
				column-count: 1;
			}
			#name h1 {
				line-height: .8em;
				margin-bottom: 4px;
			}
		}
		@media print {
			#cv {
				width: 100%;
			}
		}
		@-webkit-keyframes reset {
			0% {
				opacity: 0;
			}
			100% {
				opacity: 0;
			}
		}
		@-webkit-keyframes fade-in {
			0% {
				opacity: 0;
			}
			40% {
				opacity: 0;
			}
			100% {
				opacity: 1;
			}
		}
		@-moz-keyframes reset {
			0% {
				opacity: 0;
			}
			100% {
				opacity: 0;
			}
		}
		@-moz-keyframes fade-in {
			0% {
				opacity: 0;
			}
			40% {
				opacity: 0;
			}
			100% {
				opacity: 1;
			}
		}
		@keyframes reset {
			0% {
				opacity: 0;
			}
			100% {
				opacity: 0;
			}
		}
		@keyframes fade-in {
			0% {
				opacity: 0;
			}
			40% {
				opacity: 0;
			}
			100% {
				opacity: 1;
			}
		}
		.skill-text{
			min-width: 140px; 
			font-weight: 700;
			display: inline-block;
			text-align: right;
		}
		.view-cert {
			font-size: 0.7em; 
			margin-left: 5px; 
			color: #0F4C81;
			display: inline;
			text-decoration: none;
		}
		h2 {
			display: inline;
		}
		.star-rating {
			color: #0F4C81;
		}
		.footer-note {
			text-align: center;
			width: 100%;
			margin-top: -20px;
			font-style: italic;	
			font-size: 0.7em;
		}
		.header-note {
			font-size: 0.6em;
			font-style: italic;		
		}